body {
    margin: 0;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    color: #eee;
    text-align: center; }

canvas {
    background-color: #1a1a1a;
    display: block;
    touch-action: none;
    border: 1px solid #333; }


#container {

    display: flex;
    flex-direction: column;
    align-items: center; }